body, div, h1, h2, h3, h4, h5, h6, p, a  {margin: 0;padding: 0;border: 0;vertical-align: top;}  			/*Browser reset*/
*, *:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;} 	/*Silly padding*/

body            {display:flex;justify-content: center;background-color:#F5FCFF;text-rendering: optimizeLegibility;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;color:#484848;text-rendering:optimizeLegibitity;}
#wrapper        {background-color:#EAF8FD;max-width:1024px;min-width:1024px;min-height:100vh;}
#container      {margin-top:100px;}
